//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Thu 05 25 22:45:50 2023

IO_LOC "O_TMDS_CLK_P" 69,68;
IO_PORT "O_TMDS_CLK_P" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_TMDS_DATA_P[0]" 71,70;
IO_PORT "O_TMDS_DATA_P[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_TMDS_DATA_P[1]" 73,72;
IO_PORT "O_TMDS_DATA_P[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_TMDS_DATA_P[2]" 75,74;
IO_PORT "O_TMDS_DATA_P[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "LED3" 13;
IO_PORT "LED3" PULL_MODE=UP DRIVE=8;
IO_LOC "LED2" 11;
IO_PORT "LED2" PULL_MODE=UP DRIVE=8;
IO_LOC "LED1" 10;
IO_PORT "LED1" PULL_MODE=UP DRIVE=8;
IO_LOC "CLK_27M" 52;
IO_PORT "CLK_27M" PULL_MODE=UP;
IO_LOC "RSTN" 3;
IO_PORT "RSTN" PULL_MODE=UP;
